<% provide :title, 'Adicionar Receita' %>

<section id="recipe">
	<%= form_for(:recipe, {html: {id: 'recipeForm'}}) do |f| %>
	<div class="container" style='margin-bottom: 80px;'>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-7 col-md-offset-2">
					<div class="jumbotron text-center">
						<i class="fas fa-camera" style='font-size: 36px; color: #a3a090;'></i><br>
						<span style='color: #a3a090;'>Enviar Foto</span><br>
						<small style='color: #a3a090;'>"Use apenas foto que você tirou"</small>
					</div>
					<div class="panel panel-default" style='padding: 10px; margin-top: -30px;'>
						
						<div class='field' style='margin-bottom: 8px;'>
							<span class='badge'>
								<i class="fas fa-lock"></i> Privado
							</span>
						</div>

						<div class='field .title'>
							<%= f.label :title, 'Titulo da receita' %>
						 	<%= f.text_field :title, class: 'form-control', required: 'required',
						 	placeholder: 'Titulo da receita...', required: 'required' %>
						</div>
						<div class="field .description ">
							<%= f.label :title, 'Descrição' %>
							<%= f.text_area :title, class: 'form-control', required: 'required',
							placeholder: 'Conte a história desta receita...', required: 'required' %>
						</div>
						<div class="field">
							<%= f.label :ingredients, 'Ingredientes' %>
							<%= f.text_area :title, class: 'form-control', required: 'required',
							placeholder: 'Conte a história desta receita...', required: 'required' %>
						</div>
						<div class="field">
							<%= f.label :ingredients, 'Instruções' %>
							<%= f.text_area :title, class: 'form-control', required: 'required',
							placeholder: 'Conte a história desta receita...', required: 'required' %>
						</div>
						<div class="field">
							<hr>
							<h4 class='bold'>Permitir comentários</h4>
							<span class='pull-right'>
								<%= f.check_box :allow_comments %>
							</span>
							<p>Todos os utilizadores podem comentar a sua <br>
						  receita e todos os comentários são visíveis publicamente</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bottom-actions" style='background-color: #FFF; padding: 10px; 
	position: fixed; bottom: 0px;'>
		<div class="container">
			<div class="col-md-12">
				<div class='col-md-7 col-md-offset-2'>
					<%= f.submit 'Publicar', 
					class: 'btn btn-primary btn-lg top',
					style: 'margin-left: 30px;' %>
					
					<div class='text-right' style='display: inline-block; float: right;'>	
					<%= link_to '#', class: 'text-right' do %>
						<i class='fas fa-ellipsis-h' style='color: #999; font-size: 28px;
						padding-top: 10px; margin-right: -30px;'></i>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</section>